@charset "utf-8";
/* 공통 스타일 */
*{margin: 0;padding: 0;}
#container{width: 90%;margin: 0 auto;}
a{text-decoration: none;}
ul li{list-style: none;}

/* index 스타일 */
h2{text-align: center;}
#main{margin: 20px auto; text-align: center;}
.main_img{margin: 0 20px;}
.main_img img{border-radius: 10px;}

/* header 스타일 */
header{height: 100px;background: #0077cc;}
#logo{float:  left; width: 20%; height: 100px; line-height: 100px;
			text-align: left;}
#logo h1 a{color: #eee;padding-left: 15px;font-size: 1.3em;
	font-size: italic;}
nav{float: right; width:70%;height: 100px;}

/* 주메뉴(헤더꺼) */
#topmenu{height: 100px; line-height: 100px;}
#topmenu li{float: left;margin: 0 20px;}
#topmenu li a{display: block;padding: 0 20px;color: #eee;}
#topmenu li a:hover{color: #444;}



/* memberList 스타일 */
#memberlist{width: 550px; margin: 40px auto;}
#memberlist table{width: 550px; margin: 30px auto;}
#memberlist table th{background: #eee;}
#memberlist table, th, td{border: 1px solid #ccc;
	border-collapse: collapse; text-align: center;
	padding: 10px; font-size: 0.9em;}
#memberlist table, th, td:last-child(){padding: 0;}

/* register 회원가입 */
#register{width: 400px; margin: 30px auto;}
#register form{margin: 30px auto;}
#register form fieldset {padding-bottom: 20px;}
#register form ul li{margin: 30px 20px;}
.button{text-align: center;}
.button input{padding: 10px 20px;}


/* detaile 회원 상세보기 */
#detaile{width: 400px; margin: 30px auto;}
table#detaile{border: 1px solid #ccc;
	border-collapse: collapse; text-align: center;
	padding: 10px; font-size: 0.9em;}
#detaile input{padding: 5px 20px;}
